

<h2>Eat da Burger</h2>

<p style="margin: 0 auto; text-align:center;"><img style="width:20%; height:30%; "
      src="https://thumbs.gfycat.com/SingleSleepyLeafcutterant-size_restricted.gif" alt="burger"></p>



<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>



  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured"></label><br>
    <input type="radio" name="devoured" value="1" checked> Devour it!<br>
    <input type="radio" name="devoured" value="0"> Delete a Burger
  </div>

  <button type="submit" id="burgerSubmit">Submit</button>
